@keyframes flipCardTopBottomLeftRight {
  0%, 100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}

.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 100%;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: flipCardTopBottomLeftRight 2s linear infinite; /* Adjust duration as needed */
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg) rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  transform: rotateX(0deg) rotateY(0deg);
}

.flip-card-back {
  transform: rotateX(180deg) rotateY(180deg);
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Adjust the distance as needed */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down {
  animation: fadeDown 0.5s ease-out; /* Adjust the duration and timing function as needed */
}
